:root{
 /*   - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
    --errorRed: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

body{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1px;
    margin: 0px;
    background-color: var(--white);
}


#card-image-section{

    width: 100%;
    min-height: 240px;
    background: url("./images/bg-main-mobile.png") no-repeat;
    background-size: 100%;
    overflow: visible;
    position: relative;

    margin-bottom: 47px; /*to avoid stuff overlapping the card*/

}


#card-container{
    position: absolute;
    top: 159px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    width: 287px;
    height: 157px;

    background-repeat: no-repeat;
    background-size: 100%;
}

#card-front{
    z-index: 2;
    top: 127px;
    right: 29px;
    
    background-image: url("./images/bg-card-front.png");


    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--lightGrayishViolet);
}

#card-logo{
    align-self: flex;
    max-width: 55px;
    margin: 18px auto auto 20px;
}

#card-img-number{
    align-self: center;
    font-size: 1.1em;
    margin-bottom: 16px;
}


#card-bottom-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.52em;

    margin-bottom: 20px;
}

#card-img-name{
    margin-left: 24px;
    text-transform: uppercase;
}

#card-img-date{
    margin-right: 22px;
}


#card-back{
    bottom: 127px;
    left: 29px;

    background-image: url("./images/bg-card-back.png");


    position: relative;
    color: var(--white);
}

#card-img-cvc{
    font-size: 0.62em;
    position: absolute;
    top: 70px;
    right: 38px;
}


.payment-form{
    margin: 84px 25px auto 25px;
    box-sizing: border-box;
    display: block;
    letter-spacing: 2px;
    color:var(--veryDarkViolet);


}

#payment-form label{
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.67em;
    margin-bottom: 8px;
}

input{
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border: 1px solid var(--lightGrayishViolet);
    margin-bottom: 14px;

    padding-left: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
}

::placeholder{
    color: var(--darkGrayishViolet);
}

#date-cvc-input-row{
    display: grid;
    grid-template-columns: 50% 50%;

    margin-top: 5px;

}

#date-input-section{
    display: flex;
    flex-direction: column;
}

#date-input-subsection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#cvc-input-section{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.button{
    display: inline-block;
    background-color: var(--veryDarkViolet);
    color: var(--white);
    min-height: 51px;
    border: none;
    padding-left: 0px;
}

.button:hover{
    border: 2px solid var(--veryDarkViolet);
    color: var(--veryDarkViolet);
    background-color: var(--white);
    cursor: pointer;
}

#confirm-button{
    margin-top: 15px;
}

.hidden{
    display: none !important;
}

.error-msg{
    color: var(--errorRed);
    margin: -10px auto 20px 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 0.65em;
    font-weight: 600;
    letter-spacing: 0px;

}

.input-error-state{
    border: 2px solid var(--errorRed);
}

#complete-state{
    text-align: center;
    display: block;
    box-sizing: border-box;
    margin: 90px 25px auto 25px;
    letter-spacing: 2px;

}

#thank-you-heading{
    margin-top: 30px;

    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.15em;
    font-weight: 400;
    color: var(--veryDarkViolet);
}

#thank-you-text{
    color: var(--darkGrayishViolet);
    letter-spacing: 0px;

}

#continue-button{
    margin-top: 30px;

}


#attribution{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
}


@media only screen and (min-width: 1000px){
    body{
        display: flex;
        flex-direction: row;
    }


    #card-image-section{
        width: unset;
        height: 100vh;
        min-width: 33.5%;
        background-image: url("./images/bg-main-desktop.png");
        background-size: 100%;
        margin-bottom: unset;
        margin-right: 230px; /*prevent elements from overlapping card*/
    }

    #card-container{
        top: 50%;
        left: 100%;
    }

    .card{
        width: 449px;
        height: 247px;
    }

    #card-front{
        top: unset;
        right: 21%;
        margin-bottom: 36px;
    }

    #card-logo{
        margin: 28px auto auto 31px;
        max-width: 87px;
    }

    #card-img-number{
        font-size: 1.6em;
        letter-spacing: 3px;
        margin-bottom: 27px;
    }

    #card-bottom-row{
        font-size: 0.8em;
        letter-spacing: 1.8px;
        margin-bottom: 26px;
    }

    #card-img-name{
        margin-left: 36px;
    }

    #card-img-date{
        margin-right: 28px;
    }



    #card-back{
        bottom: unset;
        left: unset;
    }

    #card-img-cvc{
        font-size: 0.8em;
        top: 112px;
        right: 58px;
    }



    .payment-form{
        margin: unset;
        align-self: center;
        width: 26.5%;
        margin-left: 8.5%;
    }

    input{
        margin-bottom: 20px;
    }

    #date-input-subsection{
        margin-right: 20px;
    }

    #cvc-input-section{
        margin-left: 0px;
    }

    .button{
        min-height: 52px;
    }

    #confirm-button{
        margin-top: 20px;
    }

    .error-msg{
        font-family: unset;
        margin-left: 0px;
        margin-bottom: 27px;
    }

    .input-error-state{
        border-width: 1px;
    }

    

}