:root{
 /*   - Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
    --errorRed: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --lightGrayishViolet: hsl(270, 3%, 87%);
    --darkGrayishViolet: hsl(279, 6%, 55%);
    --veryDarkViolet: hsl(278, 68%, 11%);
}

body{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 1px;
    margin: 0px;
    background-color: var(--white);
}


#card-image-section{

    width: 100%;
    min-height: 240px;
    background: url("./images/bg-main-mobile.png") no-repeat;
    background-size: 100%;
    overflow: visible;
    position: relative;

    margin-bottom: 47px; /*to avoid stuff overlapping the card*/

}


#card-container{
    position: absolute;
    top: 159px;
    left: 50%;
    transform: translate(-50%, -50%);
}



#card-front{
    position: absolute;
    z-index: 2;
    top: 127px;
    right: 29px;
    

    width: 287px;
    height: 157px;

    background-image: url("./images/bg-card-front.png");
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    color: var(--lightGrayishViolet);
}

#card-logo{
    align-self: flex;
    max-width: 55px;
    margin: 18px auto auto 20px;
}

#card-img-number{
    align-self: center;
    font-size: 1.1em;
    margin-bottom: 16px;
}


#card-bottom-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 0.52em;

    margin-bottom: 20px;
}

#card-img-name{
    margin-left: 24px;
    text-transform: uppercase;
}

#card-img-date{
    margin-right: 22px;
}


#card-back{
    position: absolute;
    bottom: 127px;
    left: 29px;

    width: 287px;
    height: 157px;

    background-image: url("./images/bg-card-back.png");
    background-repeat: no-repeat;
    background-size: 100%;

    position: relative;
    color: var(--white);
}

#card-img-cvc{
    font-size: 0.62em;
    position: absolute;
    top: 70px;
    right: 38px;
}



#payment-form{
    margin: 90px 45px auto 25px;
    box-sizing: border-box;
    display: block;
    letter-spacing: 2px;
    color:var(--veryDarkViolet);


}

#payment-form label{
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.67em;
    margin-bottom: 8px;
}

#payment-form input{
    width: 100%;
    height: 39px;
    border-radius: 8px;
    border: 1px solid var(--lightGrayishViolet);
    margin-bottom: 15px;

    padding-left: 15px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
}

::placeholder{
    color: var(--darkGrayishViolet);
}

#date-cvc-input-row{
    display: grid;
    grid-template-columns: 50% 50%;

    margin-top: 5px;

}

#date-input-section{
    display: flex;
    flex-direction: column;
}

#date-input-subsection{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#cvc-input-section{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#confirm-button{
    box-sizing: content-box;
    display: inline-block;
    margin-top: 12px;

    background-color: var(--veryDarkViolet);
    color: var(--white);
    min-height: 51px;
}

#confirm-button:hover{
    border: 2px solid var(--veryDarkViolet);
    color: var(--veryDarkViolet);
    background-color: var(--white);
    cursor: pointer;
}



#attribution{
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
}